<h1>Welcome to the Video Game Store!</h1>

  <div class="py-5">
    <div class="container">
      <div class="row hidden-md-up">

      <% @games.each do |game| %>
        <div class="col-md-4">
          <div class="card">
            <div class="card-block">
              <h4 class="card-title"><%= game.game_name%></h4>
              <h6 class="card-subtitle text-muted"><%= game.genre.genre_name%></h6>
              <p class="card-text p-y-1">This game is played on the: <%= game.platform.platform_name%></p>
              <p class="card-text p-y-1">Created By: <%= game.publisher.publisher_name%></p>
              <p class="card-text p-y-1">Price: <%= game.price%></p>
              <a class="card-link"><%= link_to "See More Games!", game_show_path%></a>
              <a class="card-link"><%= link_to "See More From This Publisher!", publisher_show_path%></a>
            </div>
          </div>
        </div>
      <% end %>
      </div>
    </div>
  </div>